@import "bootstrap";
@import "spinner";

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 225px;
}

.contact {
  min-height: 100 px;
}

.btn-danger {
  margin-top: 10px;
}

.label-fade {
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-danger {
  margin-top: 0px;
}

.panel-title {
  min-height: 50px;
  text-align: center;
}

.panel-body {
  min-height: 110px;
}

.author {
  min-height: 450px;
}

.author-body {
  font-style: italic;
  min-height: 400px;
}

.book-title {
  font-style: italic;
}

.abc {
  padding: 10px;
}

.abc.active {
  margin-bottom: 17px;
}
