@import "bootstrap";

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.contact {
  min-height: 100 px;
}

.btn-danger {
  margin-top: 10px;
}

.label-fade {
  opacity: 0;
  @include transition(all 0.5s);
  &.label-snow {
    opacity: 1;
  }
}

.vertical-align-middle {
  vertical-align: middle!important;
}
