<h2>List</h2>

{{#each model as |author|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{author.name}}</h3>
        </div>
        <div class="panel-body">
          <p>Books:</p>
          {{#each book in model}}
            <p>{{author.books}}</p>
          {{/each}}
        </div>
    </div>
{{/each}}
