<div class="row">
  {{#each model as |author|}}
    <div class="col-md-4 author">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{author.name}}</h3>
        </div>
        <div class="panel-body author-body">
          {{#each author.books as |book|}}
            <p>{{book.title}}</p>
          {{/each}}
        </div>
        <div class="panel-footer text-right author-footer">
          <button class="btn btn-danger btn-xs" {{action 'deleteAuthor' author}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
