{{#each model as |book|}}
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">{{book.title}}</h3>
      </div>
      <div class="panel-body">
        <p>Written by: {{book.author.name}}, {{book.releaseYear}}</p>
      </div>
  </div>
{{/each}}
