<h1>Contacts</h1>

<div class="row">

  {{#each model as |contact|}}
    <div class="col-md-4">
      <div class="panel panel-default contact">
        <div class="panel-heading">
          <h3 class="panel-title">{{contact.email}}</h3>
        </div>
        <div class="panel-body">
          <p>Message: {{contact.message}}</p>
        </div>
        <div class="panel-footer text-right">
          Read and Responded to: {{input type="checkbox" checked=contact.isChecked}}
          <br>
          <button class="btn btn-xs btn-danger" {{action 'deleteContact' contact}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}

</div>
