<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12341234</th>
      <th>asdaf@gmail.com</th>
    </tr>
  </tbody>
</table>
