<h2>Add a new local Library</h2>

<div class="row">
    <div class="col-md-6">
        {{library-item-form item=model action=createLibrary buttonLabel='Create'}}
    </div>

    <div class="col-md-4">
        {{library-item item=model}}
    </div>
</div>
